
/*---- box sizing ----*/
*,
*::before,
*::after{
    box-sizing: border-box;}

/*---- reset marigns ----*/
body,
h1,
h2,
h3,
h4,
h5,
figure,
picture {
    margin: 0;
}

/*---------make image easier to work with-----*/
img,
picture {
    max-inline-size: 10%;
    block-size: auto;
    max-width: 100%;
    display: block;
}


:root {

--metric-box-spacing: 0.074rem;

/* Colors  Primary */
--Green-500: 158, 36%, 37%;
--Green-700: 158, 42%, 18%;

/* Neutral */

--Black: 212, 21%, 14%;
--Grey: 228, 12%, 48%;
--Cream: 30, 38%, 92%;
--White: 0, 0%, 100%;

/* Typography  Body Copy font-size */




/*  Letter-spacing  */

--letter-spacing-100 : 0.100rem;
--letter-spacing-200 : 0.0625rem;
--letter-spacing-300 : 0.3125rem;


/* font weight */
--fw-small-blod: 100;
--fw-semi-blod: 700;



/* font size */
--ff-size-200: 0.8rem;
--ff-size-400: 2rem;
--ff-size-600: 3.5rem;



   
}
    /*   UTILITY CLASSES   */

/* bg-Colors  Primary */
.green-500{
    background-color: hsl(var(--Green-500));
}
.green-700{
    background-color: hsl(var(--Green-700));
}

/* text-Colors  Primary */
.green-text-500{
    color: hsl(var(--Green-500));
}



/* Colors  Neutral */
.neutral-black{
    color: hsl(var(--Black));
}
.neutral-text-grey{
    color: hsl(var(--Grey));
}
.neutral-text-cream{
    color: hsl(var(--Cream));
}
.neutral-text-white {
    color: hsl(var(--White));
}

/*  Letter-spacing  */
.spacing-100 {
letter-spacing: var(--letter-spacing-100);
}
.spacing-200 {
letter-spacing: var(--letter-spacing-200);
}
.spacing-300 {
letter-spacing: var(--letter-spacing-300);
}

   /* letter transform Uppercase  */
    .uppercase{
        text-transform: uppercase;
    }

/* font-size */
.size-200{
    font-size: var(--ff-size-200);
}
.size-400{
    font-size: var(--ff-size-400);
}
.size-600{
    font-size: var(--ff-size-400);
}

/* font weight */
.sm-weight{
    font-weight: var(--fw-small-blod);
}
.semi-weight{
    font-weight: var(--fw-semi-blod);
}

    /*    Font family   */
.ff-fraunces {
  font-family: "Fraunces", serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
  font-variation-settings:
    "SOFT" 0,
    "WONK" 0;
}                
   
.ff-montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: auto;
  font-style: normal;
}             

/****************General style*********************/

html{
 font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}

@media (width >= 44em) {
html{
 font-size: clamp(1rem, 0.75rem + 1.5vw, 2rem);
}


body {
  margin: 0 var(--metric-box-spacing);
  display: grid;
  place-items: center;
    min-height: 100vh;
  
}

    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-columns: 1fr;
     align-items: center;

    
    }
    
picture > img{
  max-inline-size: 100%;
  block-size: auto;
  inline-size: auto;
  min-height: 90vh;

    border-top-left-radius: .9vh;
      border-bottom-left-radius: .9vh;
}
}


body {
  margin: 0 var(--metric-box-spacing);
  background-color: hsl(var(--Cream));
  width: min(10vw, 20rem), 300px, max(90vw, 55rem);
 
}

:is(h1,h2,h3,p) {
  max-inline-size: initial;
  margin-block-start: var(--metric-box-spacing);
}

main {
    display: grid;
    max-inline-size: 66ch;
    line-height: 1.65;
    background-color: hsl(var(--White));
    margin: 2rem;
     /*min-width: 375px;*/
    
    border-top-right-radius: .9vh;
      border-bottom-right-radius: .9vh;
}


picture > img {
  max-inline-size: 100%;
  block-size: auto;
  inline-size: auto;
      
}

.perfume, .landing-text, .container, .text-main {
    padding-left: 0.8rem;
}

.perfume{
    font-size: var(--ff-size-200);
    margin-top: 1.2rem;
    font-weight: 600;
}
.landing-text {
    line-height: 1;
    margin-left: 0.01ch;
    margin-bottom: 0.5em;   
}

.text-main {
 padding-inline: 0.8rem;
 font-weight: 400;
 margin: 0;

}

.container{
    margin-block: 1rem;
    margin-inline-end: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   
}

.container > .price1{
    font-size: 1.5rem;
}

.container > .price2{
    font-size: 0.7rem;
    margin-left: 1rem;
    font-weight: 800;
}

.footer:hover {
    transition: 1ms;
    cursor: pointer;
    background-color: hsl(var(--Green-700));

}

.footer {
    margin-block: 1.6rem;
    margin-inline: 1rem;
    display: flex;
     justify-content: center;
     padding: .4rem;
     border-radius: 1vw;      
} 

.footer > img {
aspect-ratio: 2 / 1;
margin-right: 1rem;

}
.footer > .cart {
    letter-spacing: var(--letter-spacing-200);
    font-weight: 600;
    font-size: smaller;
}